*
!containers/
!containers/trusted-runtime.Dockerfile
!containers/zlib-ng-2.3.3.spdx.json
!containers/trusted-runtime.requirements.lock
!scripts/
!scripts/apply-sql-migrations.py
!scripts/extract-runtime-library.py
!scripts/extract-zlib-ng-source.py
!scripts/prepare-trusted-runtime.py
!scripts/probe-sql-connectivity.py
!scripts/probe-sql-odbc.py
!scripts/run-live-cycle-workflow.py
!scripts/verify-runtime-native.py
!src/
!src/task_agent/
!src/task_agent/__init__.py
!src/task_agent/control/
!src/task_agent/control/**